@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}

.awal{
  text-align: center;
}

.awal img{
  border-radius: 50%;
  width: 300px;
}

.awal h2{
  font-size: 30px;
}

.awal p{
  font-size: 24px;
}

.link-ig{
  width: 75px !important; 
}

.tabel,td,th{
  border-spacing: 12px;
  border: 1px solid #000000;
}

.kedua{
  display: flex;
  justify-content: center;
}


/* PC VERSION */
@media(min-width: 992px){
  .awal{
    color: aqua;
  }

  .kedua{
    justify-content: start;
  }
}

/* TABLET VERSION */
@media(min-width: 768px) and (max-width: 992px){
  .awal{
    color: yellowgreen;
  }
}